<div class="tech-btm">
  
    <p>Get our blogs by mail </p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" id="in1" value="Subscribe">
    </form>
</div>

