@using EntityLayer.Concrete
@model IEnumerable<Notification>
@{
    ViewData["Title"] = "AllNotifications";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1> Notifications</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Notification</th>
        <th>Date</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NotificationID</td>
            <td>@item.NotificationDetails</td>
            <td>@item.NotificationDate.ToShortDateString()</td>
        </tr>

    }
</table>

