
@{
    ViewData["Title"] = "BlogTiteListExcel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Blogs</h1>

<br />

<h2> Export to Excel </h2>
<br />
<a href="/Admin/Blog/ExportDynamicExcelBlogList" class="btn btn-primary">Download Excel File</a>

