
@{
    ViewData["Title"] = "BlogTiteListExcel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>

<br />

<a href="/Admin/Blog/ExportDynamicExcelBlogList" class="btn btn-primary">Download Excel File</a>

