<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/writer/assets/images/faces/face1.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Writer Name</span>
                    <span class="text-secondary text-small">Software Developer</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/writer/index.html">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
   
        <li class="nav-item">
            <a class="nav-link" href="~/writer/pages/icons/mdi.html">
                <span class="menu-title">My Profile</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogListByWriter/">
                <span class="menu-title">My Blogs</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogAdd/">
                <span class="menu-title">New Blog</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/writer/pages/tables/basic-table.html">
                <span class="menu-title">Messages</span>
                <i class="mdi mdi-message menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/writer/pages/tables/basic-table.html">
                <span class="menu-title">Back to Site</span>
                <i class="mdi mdi-car menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/writer/pages/tables/basic-table.html">
                <span class="menu-title">Settings</span>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/writer/pages/tables/basic-table.html">
                <span class="menu-title">Log Out</span>
                <i class="mdi mdi-logout-variant menu-icon"></i>
            </a>
        </li>
        
       
    </ul>
</nav>